@model SoapFormula.Web.ViewModel.CategoryViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create Category</h2>
<table>
    <tr>
        <th>
            @using (Html.BeginForm())
            {
                @Html.EditorForModel("CategoryEditor")
                <input type="submit" name="create" />
            }
        </th>
    </tr>
        <tr>
            <th>
                @Html.ActionLink("back to main page", "Index")
            </th>
        </tr>
  </table>
