@model IEnumerable<SoapFormula.Common.Entities.Category>

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<table>
    <tr>
        <th>write a product category</th>
        <th></th>
    </tr>
    <tr>
        <th>
            @using (Html.BeginForm("Create", "Category", FormMethod.Post))
            {
                @Html.Hidden("Id","Id")
                @Html.TextBox("Name")
                <input type="submit" name="create" />
            }
        </th>
    </tr>
        <tr>
            <th>
                @Html.ActionLink("back to main page", "Index")
            </th>
        </tr>
  </table>
