@model SoapFormula.Web.ViewModel.CategoryViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create Category</h2>
<table>
    <tr>
        <th>write a product category</th>
        <th></th>
    </tr>
    <tr>
        <th>
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(i=>i.Id)
                @Html.TextBoxFor(i=>i.Name)
                <p> choose product for category </p>
               // @Html.DropDownListFor(i => i.ProductId, Model.ProductItems)<br />
                <input type="submit" name="create" />
            }
        </th>
    </tr>
        <tr>
            <th>
                @Html.ActionLink("back to main page", "Index")
            </th>
        </tr>
  </table>
