@model SoapFormula.Web.ViewModel.CategoryViewModel

@{
    ViewBag.Title = "Create category";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
 {
    @Html.EditorForModel("CategoryEditor")
 }
        
          
