@model SoapFormula.Web.ViewModel.CategoryViewModel
@{
    ViewBag.Title = "Delete";
}

<h2>Delete Category</h2>
<table>
    <tr>
        <th>
            ARE YOU SHURE YOU WANT TO DELETE CATEGORY: @Model.Name
        </th>
    </tr>
    <tr>
        <th>
            @using(Html.BeginForm())
            {
                 @Html.HiddenFor(i=>i.Id)
                <input type="submit" value="DELETE"/>
            }
        </th> 
    </tr>
    <tr>
        <th>
            FOR CENCELING:
            @Html.ActionLink("back to main page", "Index")
        </th>
    </tr>
</table>