@model SoapFormula.Web.ViewModel.ManufacturerViewModel
@{
    ViewBag.Title = "Create manufacturer";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.EditorForModel("ManufacturerEditor")
}
       