@model SoapFormula.Web.ViewModel.ManufacturerViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Manufacturer</h2>
<table>
    <tr>
        <th>
            edit category @Model.Name
        </th>
    </tr>
    <tr>
        <td>
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(i => i.Id)
                <p> edit name</p>
                @Html.TextBoxFor(i => i.Name)
                <input type="submit" value="save" />
            }
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("back to main page", "Index")
        </td>
    </tr>
</table>
