@model SoapFormula.Web.ViewModel.ManufacturerViewModel
@{
    ViewBag.Title = "Edit manufacturer";
}
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.EditorForModel("ManufacturerEditor")
}
            
       