@model SoapFormula.Web.ViewModel.ManufacturerViewModel
@{
    ViewBag.Title = "NotDelete";
}

<h2>@ViewBag.Title</h2>

<hr/>
<h4>you can`t delete @Model.Name, such as it has products</h4>

@Html.ActionLink("back to list", "Index")

