@model SoapFormula.Web.ViewModel.ProductViewModel

@{
    ViewBag.Title = "Create";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.EditorForModel("ProductEditor")

}
        
        